body{
	color: #fff;
	height: 100vh;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contenedor{
	border: 1px solid #555;
	display: flex;
	align-items: center;
	height: 120px;
	width: 100%;
	position: relative;
}

.contenedor:hover .circulo.a{
	left: calc(50% - 100px);
}

.contenedor:hover .circulo.b{
	right: calc(50% - 100px);
}

.circulo{
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	position: absolute;
	transition: 1s;
}

.circulo.a{
	background: skyblue;
	left: 0;
}

.circulo.b{
	background: teal;
	right: 0;
}